{{ partial "layout/head.html" . }}
{{ partial "layout/header.html" . }}

<link rel="stylesheet" href="/css/post.css">

<br /><br />
<div class="text-center">
  <h2>Notes from the bar</h2>
  <h4>Essays about the development of Barback.</h4>
</div>

<br /><br /><br />

<div class="posts">
  {{ range where .Site.Pages "Section" "post" }}
    <div class="post">
        <div class="post-link">
        <a href="{{ .Permalink }}">
          {{ .Title }}</a>
        </div>
        {{ partial "page_notes/page_metadata.html" . }} 
    </div>
  {{ end }}
</div>

<br /><br /><br />

{{ partial "layout/footer.html" . }}