.recipe-container h2:after {
    content: " → ";
    font-size: 0px;
    transition: all 0.5s;
}
.recipe-container:hover h2:after {
    transition: all 0.5s;
    font-size: 14px;
}


@-webkit-keyframes rotate_svg {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(8deg);
  }

  40% {
    transform: rotate(-6deg);
  }

  60% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate_svg {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(8deg);
  }

  40% {
    transform: rotate(-6deg);
  }

  60% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.recipe-container:hover svg {
  -webkit-animation-name: rotate_svg;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  animation-name: rotate_svg;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}