.recipe-container {
  float: left;
  text-align: center;
}
.recipe-container h2 {
  background-color: #ff530d;
  color: #fff;
  padding: 1em;
  float: right;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  margin-right: 0;
}
h3 {
  font-size: 16px;
}
.recipe-content {
  float: left;
  padding: 2em;
}

table {
  width: 100%;
}
td {
  margin: 10px;
}
tr:hover {
  background-color: #eee;
}

.minor {
  float: right;
  color: #8FA7B5;
  font-style: italic;
}