{{ partial "head.html" . }}

<body>
<link rel="stylesheet" href="/css/recipe.css">
<div class="container">
  {{ partial "header.html" . }}

  <div class="recipe-container recipe-detail col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
        <h2>{{ .Params.name }}</h2>
      <div class="col-xs-12 col-md-6">
        <h3>Ingredients</h3>
        <table class="ingredients">
          {{ range .Params.ingredients }}
            {{ partial "ingredient.html" . }}
          {{ end }}
        </table>

        {{ if .Params.information }}
          <h3>Information</h3>
          <p>{{ .Params.information | markdownify }}</p>
        {{ end }}

        {{ if .Params.directions }}
          <h3>Directions</h3>
          <p>{{ .Params.directions | markdownify }}</p>
        {{ end }}

        <hr />
        {{ partial "tweet.html" . }}
    </div>
      <div class="col-xs-12 col-md-6">
      <br />
        <p>
          Served in {{ .Params.glassware }}
          <br /><span id='abv'></span>% ABV
          {{ if .Params.garnish }}
          <br />Garnish with {{ .Params.garnish }}
          {{ end }}
        </p>
        <div id="diagram"></div>
      </div>
  </div>

  <script>
    drawRecipe("{{ .Params.glassware }}", {{ .Params.ingredients }}, "diagram");
    $("#abv").html(abv({{ .Params.ingredients }}));
  </script>

  {{ partial "footer.html" . }}
</div>
</body>