{{ partial "layout/head.html" . }}
{{ partial "layout/header.html" . }}

<link rel="stylesheet" href="/css/recipe.css">
<link rel="stylesheet" href="/css/ingredient.css">

<div class="container">

  <div class="recipe-container recipe-detail col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    
    <h1>{{ .Params.name }}</h1>
    <div class="col-xs-12 col-md-3 col-md-offset-1">
      <div id="diagram" style="background-color: #{{ .Params.color }};"></div>
      <h4>Data</h4>
      <p>
        A <strong>{{ .Params.ingredient_type }}</strong>
        <br />with <strong>{{ .Params.abv }}%</strong> ABV
      </p>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-1">

      {{ if .Params.information }}
        <h4>Information</h4>
        <p>{{ .Params.information | markdownify }}</p>
        <hr />
      {{ end }}

      {{ if .Params.brands }}
        <h4>Recommended brands</h4>
        <table class="ingredients">
        {{ range .Params.brands }}
          <tr>
            <td>{{ .name }}</td>
            <td class="minor">${{ .price }}</td>
        {{ end }}
        </table>
        <hr />
      {{ end }}

      {{ if .Params.cocktaildb }}
        <h4>Elsewhere</h4>
        <a href="{{ .Params.cocktaildb }}">CocktailDB</a>
        <hr />
      {{ end }}

      <div class="well">
        <h4>Recipes which use {{ .Params.name }}</h4>
        <table class="ingredients">
          {{ range $index, $use := .Params.uses }}
            <tr {{ if ge $index 5 }}class="collapse"{{ end }}>
              <td><a href="/recipe/{{ .slug }}">{{ $use.recipe }}</a></td>
              {{ if $use.ingredient.amount }}
              <td class="minor">{{ $use.ingredient.amount }}cl</td>
              {{ else }}
              <td class="minor">{{ $use.ingredient.label }}</td>
              {{ end }}
          {{ end }}
        </table>
          {{ if ge (len .Params.uses) 5 }}
            <br />
            <a id="recipeToggle" class="btn btn-default" role="button" data-toggle="collapse" href=".collapse" aria-expanded="false">
              Show more recipes
            </a>
          {{ end }}
      </div>


      {{ partial "components/tweet.html" . }}
    </div>
</div>

<script>
  $('#recipeToggle').click(function() {
      if ($('.collapse').hasClass('in') ) {
          $(this).text('Show more recipes');
      } else {
          $(this).text('Show fewer recipes');
      }
  });
</script>
</div>
{{ partial "layout/footer.html" . }}