<div class="col-xs-12">
  <div class="row">
    <footer class="col-xs-12 col-lg-6 col-lg-offset-3 text-center">
      <span>
        This page is brought to you by <a href="/">Barback</a>, a pretty cool cocktail app that you should totally buy.  Barback is made with love by Justin Duke in rainy Seattle.
      </span>
      <hr>
      <div class="social">
        <a href="http://twitter.com/getbarback">Twitter</a>
        <a href="http://getbarback.tumblr.com">Tumblr</a>
        <a href="mailto:hello@getbarback.com">Email</a>
      </div>
    </div>
  </div>
</div>


</div>
</body>