<head>
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png">

	<meta name="apple-itunes-app" content="app-id=829469529, app-argument=barback://recipe/{{ .Params.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="twitter:card" content="app">
	<meta name="twitter:site" content="@GetBarback">
	<meta name="twitter:description" content="Barback is the best way to discover new cocktails and remember old ones.">
	<meta name="twitter:app:country" content="US">
	<meta name="twitter:app:name:iphone" content="Barback">
	<meta name="twitter:app:id:iphone" content="829469529">
	<meta name="twitter:app:url:iphone" content="barback://recipe/{{ .Params.name }}">
	<meta name="twitter:app:name:ipad" content="Cannonball">
	<meta name="twitter:app:id:ipad" content="829469529">
	<meta name="twitter:app:url:ipad" content="barback://recipe/{{ .Params.name }}">
	
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">

	<title>
		{{ if .Params.name }}{{ .Params.name }} - {{ end }}Barback
	</title>

	<script src="/js/recipe_data.js"></script>
	<script src="/js/base_data.js"></script>
	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/lodash.js"></script>
	<script src="/js/vendor/svg.js"></script>
	<script src="/js/vendor/isotope.min.js"></script>
	<script src="/js/recipe.js"></script>

	<script>
		var bases = {};
		for (var baseIndex in baseList) {
			var base = baseList[baseIndex];
			bases[base.name] = base;
		}

		var recipes = {};
		for (var recipeIndex in recipeList) {
			var recipe = recipeList[recipeIndex];
			recipes[recipe.name] = recipe;
		}
	</script>
</head>