{{ partial "layout/head.html" . }}
{{ partial "layout/header.html" . }}

<link rel="stylesheet" href="/css/recipe.css">

<div class="recipe-container recipe-detail col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" itemscope itemtype="http://schema.org/Recipe">
  <h2 itemprop="name">{{ .Params.name }}</h2>
    <div class="col-xs-12 col-md-6">

      <div id="diagram" itemprop="image"></div>
      
      <h4>Ingredients</h4>
      <table class="ingredients">
        {{ range .Params.ingredients }}
          {{ partial "recipe/ingredient.html" . }}
        {{ end }}
      </table>

      {{ if .Params.directions }}
      <h4>Directions</h4>
      <p itemprop="recipeInstructions">{{ .Params.directions | markdownify }}</p>
      {{ end }}

      {{ partial "components/tweet.html" . }}

    </div>

    <div class="col-xs-12 col-md-6">

      <h4>Data</h4>
        <p>
          Served in {{ .Params.glassware }}
          <br /><span id='abv'></span>% ABV
          {{ if .Params.garnish }}
          <br />Garnish with {{ .Params.garnish }}
          {{ end }}
        </p>
          {{ if .Params.information }}

      <h4>Information</h4>
      <p itemprop="description">{{ .Params.information | markdownify }}</p>
      
      {{ if .Params.similar_recipes }}
          <h4>Similar Cocktails</h4>
          {{ range .Params.similar_recipes }}
          <a href="" class="similar-recipe">{{ . }}</a><br />
          {{ end }}
      {{ end }}

    {{ end }}

    </div>
</div>

<script>
  drawRecipe("{{ .Params.glassware }}", {{ .Params.ingredients }}, "diagram");
  $("#abv").html(abv({{ .Params.ingredients }}));

  $(".similar-recipe").each(function() {
    var recipeName = $(this).text();
    var recipeSlug = recipes[recipeName].slug;
    $(this).attr('href', "/recipe/" + recipeSlug);
  });
</script>

{{ partial "layout/footer.html" . }}