{{ partial "layout/head.html" . }}
{{ partial "layout/header.html" . }}

<link rel="stylesheet" href="/css/post.css">

<div class="post-header">
    <h2>{{ .Title }}</h2>
    <div class="post-date">
      {{ .Date.Format "Mon, Jan 2, 2006" }} 
    </div>
    <div class="post-date tag">
        {{ range .Params.tags }}
        <a href="/tags/{{ . }}">{{ . }}</a>
        {{ end }}
    </div>
</div>

<div class="post-content">
    {{ .Content }}
</div>

<div class="jumbotron">
    <h3>Liked this article?</h3>
    <h4>You should obviously download our <a href='https://itunes.apple.com/us/app/barback-classic-modern-cocktails/id829469529?mt=8'>app</a>.</h4>
    <h4>And probably sign up for our <a href="http://tinyletter.com/barback">newsletter</a>!</h4>
    <h4>And, uh, follow us on <a href="http://twitter.com/getbarback">Twitter</a>.</h4>
    <h4>&nbsp;</h4>
    <h4>That's probably all.</h4>
    <h4>&nbsp;</h4>
    <h4>Have a great day!</h4>
</div>


<script>
    $.bigfoot();
</script>
{{ partial "layout/footer.html" . }}