body {
    font-family: Avenir;
    color: #2B3A42;
    background-color: #2B3A42;
    margin-top: 5em;
    font-size: 1.2em;
}

.main {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
}

h1 {
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}

h3 {
    margin-top: 0;
    font-size: 1em;
    margin-bottom: 0em;
    text-align: center;
}

a {
    color: #FF530D;
}

p {
    margin: 0.25em;
}

.header {
    color: #ccc;
    padding-bottom: 1em;
}

.ingredients, .directions, .information {
    background-color: #fff;
    border: 1px #8FA7B5 solid;
    padding: 0.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.ingredient {
    text-align: left;
}

.details {
    text-align: right;
    color: #8FA7B5;
    font-style: italic;
}

.label {
    font-size: 0.9em;
    margin-left: 1em;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #8FA7B5;
}

.footer {
    color: #ccc;
    padding-top: 1em;
    margin-bottom: 2em;
}

.header, .footer {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

@media all and (min-width: 1000px)  {
    .main {
        width: 40%;
        margin-left: 20%;
    }

    .header, .footer {
        width: 40%;
        margin-left: 20%;
    }
}

.twitter-count-vertical {
    margin-bottom: -6px;
}

#___plusone_0 {
    vertical-align: bottom !important;
}

hr {
    border: none;
    margin: 2em;
}