body {
    font-family: Avenir;
    color: #2B3A42;
    background-color: #2B3A42;
    margin-top: 5em;
    font-size: 1.4em;
}

.main {
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    float: left;
}

h1 {
    font-style: italic;
    margin-bottom: 0.5em;
    text-align: center;
}

h3 {
    margin-top: 0.25em;
    font-size: 1em;
    margin-bottom: 0em;
    text-align: center;
}

a {
    color: #FF530D;
}

p {
    margin: 0.25em;
}

.header {
    color: #ccc;
    padding-bottom: 1em;
}

.ingredients, .directions, .information {
    background-color: #fff;
    border: 1px #8FA7B5 solid;
    padding: 0.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.ingredient {
    text-align: left;
}

.details {
    text-align: right;
    color: #8FA7B5;
    font-style: italic;
}

.label {
    font-size: 1em;
    margin-left: 1em;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #8FA7B5;
}

.footer {
    color: #ccc;
    padding-top: 1em;
    margin-bottom: 2em;
}

.twitter-count-vertical {
    margin-bottom: -6px;
}

#___plusone_0 {
    vertical-align: bottom !important;
}

hr {
    border: none;
    margin: 2em;
}

.search {
    display: block;
    margin-bottom: 1em;
    float: right;
    padding: 0.5em;
    font-family: Avenir;
    font-size: 16px;
    background-color: #8FA7B5;
    border: 0;
    padding-right: 1em;
    text-align: right;
}

::-webkit-input-placeholder {
   color: #2B3A42;
}