body {
    font-family: Avenir;
    color: #2B3A42;
    background-color: #eee;
    font-size: 16px;
    padding-top: 1em;
    position: relative;
    margin: 0;
}

a {
    color: #FF530D;
}
a.cta {
  background-color: #FF530D;
  color: #fff;
  border-radius: 5px;
}
.nav>li>a.cta:hover {
  background-color: #2B3A42;
}

footer {
    padding-top: 3em;
    padding-bottom: 2em;
    z-index: 1;
}

hr {
    border: none;
    margin: 2em;
}

#drawing {
    margin: 2em;
}

.recipe-container {
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.recipe-container h2 {
  background: #ff530d;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5em;
  margin-bottom: 1em;
  margin-right: 15px;
  margin-top: 0;
  font-weight: normal;
  border-top-right-radius: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-style: italic;
    padding-left: 0;
}
.navbar-right {
  margin-right: 0;
}
.navbar {
  padding-bottom: 1em;
}

.jumbotron {
    background-color: #2B3A42;
    color: #fff;
    position: relative;
    display: none; 
}

.btn-primary, .btn-primary:hover {
    background-color: #FF530D;
    border-color: #FF530D;
}
.btn-primary:hover {
    opacity: 0.8;
}

.social a {
    margin: 1em;
}

/* APP STUFF */
@media all and (max-width: 660px) {
  footer.grater > div {
    margin-bottom: 0.5em; } }
div.iphone {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('/static/img/iphone.svg') no-repeat;
  background-size: 387px 804px;
  width: 387px;
  height: 804px;
  padding: 121px 0 0 36px; }
  div.iphone div, div.iphone img {
    background: #000;
    width: 320px;
    height: 568px;
    overflow: hidden; }
  @media all and (max-width: 660px) {
    div.iphone {
      display: none; } }

.app-description {
  padding-top: 5em;
  font-size: 1.2em;
}

#screenshots {
  position: relative;
}

.app-store {
  margin-top: 2em;
}

.detail-col {
  background-color: #fff;
  border-radius: 10px;
  padding: 3em;
}

.recipe a {
  display: block;
}

h4 a {
  margin-left: 2em;
}

#search_filter {
  margin-left: 0;
}

@media (min-width: 768px) {
  #search_filter {
    margin-left: 1em;
    margin-top: 2px;
  }
}

#data-ingredient-diagram {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  margin: auto;
  margin-top: 2em;
  border: 1px #666 solid;
}

.quietlink {
  text-decoration: none;
  color: inherit;
}
.quietlink:hover {
  border: none;
}

.jumbotron {
  display: block;
}