body {
    font-family: "Karla";
    color: #2B3A42;
    background-color: #eee;
    font-size: 16px;
    padding-top: 1em;
    position: relative;
    margin: 0;
}

a {
    color: #FF530D;
}

hr {
    border: none;
    margin: 2em;
}

.recipe-container {
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.recipe-container h2 {
  background: #ff530d;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5em;
  margin-bottom: 1em;
  margin-right: 15px;
  margin-top: 0;
  font-weight: normal;
  border-top-right-radius: 10px;
}


.jumbotron {
    background-color: #2B3A42;
    color: #fff;
    position: relative;
    display: block;
}

.btn-primary, .btn-primary:hover {
    background-color: #FF530D;
    border-color: #FF530D;
}
.btn-primary:hover {
    opacity: 0.8;
}

.recipe a {
  display: block;
}

h4 a {
  margin-left: 2em;
}