.recipe {
  background-color: #fff;
  margin: 3em;
}

.recipe h1 {
  background-color: #ff530d;
  color: #fff;
  padding: 1em;
  float: right;
  margin-top: 0;
  border-radius: 0;
  font-size: 24px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  margin-right: 0;
}

.recipe-container {
  float: left;
  text-align: left;
}
.recipe-container h1 {
  background-color: #ff530d;
  color: #fff;
  padding: 1em;
  float: right;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  margin-right: 0;
}
h1 {
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}
.recipe-content {
  float: left;
  padding: 2em;
}

table {
  width: 100%;
}
td {
  margin: 10px;
}

.minor {
  float: right;
  color: #8FA7B5;
  font-style: italic;
}

.card {
  padding: 1em;
  margin-bottom: 1em;
}

h4 {
  font-weight: bold;
  margin-top: 2em;
  border-bottom: 3px #ff530d solid;
  padding-bottom: 5px;
}

#diagram {
  margin-top: 2em;
}
@media all and (max-width: 660px) {
  #diagram {
    width: 50%;
    margin-left: 25%;
  }
}

.well {
  background-color: inherit;
  padding-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 2em;
}
.well h4 {
  margin-top: 1em;
  border-bottom: none;
}
@media all and (max-width: 660px) {
  .well {
    margin-left: 0;
    margin-right: 0;
  }
}