.recipe-container {
  overflow: hidden;
}
.recipe-container .diagram,
.recipe-container h2 {
  transition: 0.2s;
}
.recipes .recipe-container:hover .diagram,
.recipes .recipe-container:hover h2 {
  -webkit-filter: blur(10px);
  transition: 0.2s;
}
.recipe-container:hover .overlay {
  opacity: 1;
  transition: 0.2s;
}
.overlay {
  color: #666;
  position: absolute;
  top: 0;
  right: 15;
  left: 15;
  bottom: 30;
  opacity: 0;
  transition: 0.2s;
  border-radius: 10px;
}
.overlay ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  width: 50%;
}
.overlay li {
  width: auto;
  margin-top: 5px;
  font-size: 18px;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
}

#search_filter {
  margin-left: 0;
}

@media (min-width: 768px) {
  #search_filter {
    margin-left: 1em;
    margin-top: 2px;
  }
}