.recipe {
  background-color: #fff;
  margin: 3em;
}

.recipe h1 {
  background-color: #ff530d;
  color: #fff;
  padding: 1em;
  float: right;
  margin-top: 0;
  border-radius: 0;
  font-size: 24px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  margin-right: 0;
}

.recipe-container {
  float: left;
  text-align: center;
}
.recipe-container h1 {
  background-color: #ff530d;
  color: #fff;
  padding: 1em;
  float: right;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  margin-right: 0;
}
h1 {
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}
.recipe-content {
  float: left;
  padding: 2em;
}

table {
  width: 100%;
}
td {
  margin: 10px;
}

.minor {
  float: right;
  color: #8FA7B5;
  font-style: italic;
}

.card {
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

h4 {
  font-weight: bold;
  margin-top: 2em;
}