.recipe-container {
  float: left;
  text-align: center;
}
.recipe-container h2 {
  background-color: #ff530d;
  color: #fff;
  padding: 1em;
  float: right;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  margin-right: 0;
}
h1 {    background-color: #FF530D;
    padding: 1em;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 1em;
}
h2 {
  font-size: 20px;
  margin-top: 0;
}
.recipe-content {
  float: left;
  padding: 2em;
}

table {
  width: 100%;
}
td {
  margin: 10px;
}

.minor {
  float: right;
  color: #8FA7B5;
  font-style: italic;
}

.card {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}