extends ./base

block content
  h1 :(
  p 
   span Sorry, we can't find what you're looking for.  If you're looking for something that should be here, feel free to 
   a(href="mailto:hello@getbarback.com") email us
   span &nbsp;and we can definitely check it out.