<div class="recipe text-center col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" data-name="{{ .name }}" data-ingredients="{{ .ingredients }}">
  <a href="/recipe/{{ .slug }}/">
    <div class="recipe-container">
      <div class="row">
      	<h2 class="pull-right">{{ .name }}</h2>
      </div>
      <div class="diagram" id="{{ .slug }}"></div>
      <script>
        drawRecipe("{{ .glassware }}", {{ .ingredients }}, "{{ .slug }}");
      </script>
      <div class='overlay'>
      <ul>
      {{ range first 3 .ingredients }}
      <li><strong>{{ .baseName }}</strong>
      {{ end }}
      {{ if eq (len .ingredients) 4 }}
      <li>and one other ingredient
      {{ end }}
      {{ if ge (len .ingredients) 5 }}
      <li>and {{ sub (len .ingredients) 3 }} other ingredients
      {{ end }}
      </ul>
      </div>
    </div>
  </a>
</div>